#sidebar .navbar {
  flex-direction: column !important;
  align-items: flex-start;
  background-color: #f8f9fa!important;
}

#sidebar .navbar-nav {
  margin: 0 0 20px 0 !important;
  padding: 0;
  flex-direction: column !important;
  width: 100%;
}

#sidebar .navbar-brand {
  color: #2F96F3 !important;
  text-transform: uppercase;
  font-size: 16px;
}

#sidebar .navbar-nav li {
  border-bottom: 1px solid #999;
  padding: 12px 0 2px;
}

#sidebar .navbar-nav li:last-child {
  border-bottom: none;
  padding: 12px 0 2px;
}

#sidebar .navbar-nav li a {
  color: #343a40;
}

#sidebar .navbar-nav li a:hover {
  text-decoration: none;
}

.close-btn {
  width: 100%;
  text-align: right;
}

@media screen and (min-width: 992px) {
  .close-btn {
    display: none;
  }
}