#sidebar .navbar {
  flex-direction: column !important;
  align-items: flex-start;
  background-color: #343A40!important;
}

#sidebar .navbar-nav {
  margin: 0 0 20px 0 !important;
  padding: 0;
  flex-direction: column !important;
  width: 100%;
}

#sidebar .navbar-brand {
  color: #4fc04d !important;
  text-transform: uppercase;
  font-size: 16px;
}

#sidebar .navbar-nav li {
  border-bottom: 1px solid #999;
  padding: 12px 0 2px;
}

#sidebar .navbar-nav li:last-child {
  border-bottom: none;
  padding: 12px 0 2px;
}

#sidebar .navbar-nav li a {
  color: #fff
}

#sidebar .navbar-nav li a:hover {
  text-decoration: none;
}

/* .list-group-item {
  background: transparent !important;
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
} */