/* styles */
.page-wrap {
  margin-left: 300px;
  width: calc(100% - 300px);
  transition: all 500ms linear;
}
.page-wrap.inactive {
  margin-left: 0;
  width: 100%;
}
.navbar {
  background-color: #4CAF50!important;
}
.wrapper {
  width: 300px;
  position: fixed;
  height: 100%;
  background: #343A40;
  left: -300px;
  transition: all 500ms linear;
}
.wrapper.active {
  left: 0;
}
.toggle-btn {
  position: absolute;
  top: 12px;
  left: 310px;
}
.toggle-btn span {
  width: 30px;
  height: 4px;
  display: block;
  margin: 5px 0;
  background: #343A40;
}